.collapse.navbar-collapse{
  justify-content: flex-end;
}


/*css variables*/
@import url(./partials/variables.css)

/*start navigation*/

.header_area .main-menu .navbar .navbar-brand{
  padding: 0 2rem 5rem;
}

.header_area .main-menu .navbar{
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
  font: normal 500 15px/2px var(--jomolhari);
  text-transform: uppercase;
  padding: 1.7rem;
  color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
  background-color: aqua;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
  background-color: aqua;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

/*end navigation*/

/*banner area*/

.site-main .site-banner{
  background-image:url(../img/9391703.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.site-main.site-banner site-title h3{
padding-top: 35%;
font-weight: 500;
}

/*end banner area*/ 
